# Auth
AUTH_SECRET=""
AUTH_GITHUB_ID=""
AUTH_GITHUB_SECRET=""
AUTH_TRUST_HOST=""
AUTH_URL=""

# DB
DATABASE_URL=""

# Test user credentials for Playwright tests
TEST_USER_EMAIL=""
TEST_USER_PASSWORD=""

# Email
RESEND_API_KEY=""
RESEND_SEND_EMAIL=""

# AI API
AI_GATEWAY_API_KEY=""